<h1><%= t("google_base.export_settings") %></h1>

<table>
  <% [:title, :public_domain, :description, :product_category, :ftp_username].each do |setting| %>
    <%= setting_presentation_row(setting) %>
  <% end %>
  <%= setting_presentation_row(:ftp_password, true) %>
</table>

<p>
  <%= link_to_with_icon 'edit', Spree.t("edit"), edit_admin_google_base_settings_path %>
</p>


